body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 25px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 25px;
    text-align: center;
}

h2 {
    color: #333;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #tableid {
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableid th, #tableid td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  #tableid th {
    background-color: #f2f2f2;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#dashboard {
    display: none;
}

footer.footer {
    position: fixed; 
    bottom: 0;
    height: 110px; 
    width: 100%;
    background-color: #333333;
}

p.copyright {
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
}
header h1 {
    margin: 0 auto;
    max-width: 800px; /* Adjust the max-width as needed */
 }

section {
    max-width: 800px; 
    margin: 0 auto;
} 
/* Adjust the width of the image */
.center img {
    max-width: 100%; /*Ensure the image doesn't overflow its container */
    height: auto;
} 
